* {
    margin: 10;
    padding: 10;
    box-sizing: inherit;
}

h1 {
    vertical-align: middle;
    display: inline-block;
}

nav {
    display: inline-block;
    vertical-align: middle;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}



header {
    height: 55px;
    padding: 5px;
    color: white;
    background-color: rgb(207, 237, 199);
    font-weight: bold;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
    box-shadow: 0 10px 10px -10px black;

    position: fixed;
    top: 0;
    
    left: 0;
    right: 0;
  
    /* 생략 */
}

body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
}

button {
    margin: 20px;
}


.logo {
    image-rendering: auto;
    object-fit:cover;
}

.main_image {
    background-image: url("img/msg member.png");
    filter: brightness(50%);
    margin-top: 1%;
    
}

.main_image_text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
}

.underline::after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 3px solid rgb(120, 238, 87);
    margin: 20px auto;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

#catchprize {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    
   
}