* {
    margin: 0;
    padding: 0;
}

h1 {
    vertical-align: middle;
    display: inline-block;
}

nav {
    display: inline-block;
    vertical-align: middle;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


header {
    z-index: 1;
    
    height: 55px;
    padding: 5px;
    color: white;
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
    box-shadow: 0 10px 10px -10px black;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
    text-align: left;
    padding: 0px;
    /* background: rgb(144, 211, 135); */
    background-color: rgb(194, 243, 180);
    color: rgb(36, 120, 24);
}

button {
    margin: 20px;
    
    position: relative;
    left: 600px;
    bottom: 50px;

    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;  
    
    background-color: rgb(36, 120, 24);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.box {
    position: relative;                                                              
    width: 100%;
    height: 100%;
    
    font-size: 17px;
    font-weight: bold;
}

.box-cover{
    position: relative;
    left: 190px;
    
    
    height: 100%;
    width: 700px;
    background-color: white;                                                                 

    
 }



.main_about {
    position: relative;
    padding-top: 200px;
    padding-left: 50px;
}

.QNA {
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(36, 120, 24);
    position: relative;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.logo {
    image-rendering: auto;
    object-fit:cover;
}

.menubar {
    text-decoration-line: none;
    color: rgb(194, 243, 180);
    position: relative;
    top: -18px;

    padding: 10px;
}

.menubar#MSG {
    color: rgb(36, 120, 24);
    position: fixed;
    left: 100px;
    top: -23px;
}

.menubar#this_frame {
    color: rgb(36, 120, 24);
}

.main_image {
    background-image: url("img/msg member.png");
    filter: brightness(50%);
    margin-top: -80px;
    
}

.main_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 0px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.main_underline::after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 10px solid white;
    margin: 20px;
    padding: 20px;
}

.underline::after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 10px solid white;
    margin: 30px auto;
}


#catchprize {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.menubar#MSG {
    position: fixed;
    bottom: 100px;
}